body {
  margin: 5px;
  background-image: url(nashe.jpg);
}
.titulo{
  background-color: white;
  text-align: center;
  color: purple;
  border-radius: 5px;
}
.Textito{
  background-color: white;
  color:purple;
  border-radius: 5px;
}
.botonsito{
  border-radius: 10px;
  border: 2px solid purple;
}
.agegarNota {
  text-align: center;
}

.Notas{
  text-align: center;
}
.notas{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.nota{
  color: red;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 6px;
  padding-right: 10px;
  border: 2px solid red;
  border-radius: 8px;
  background-color: white;
}
.Header {
  text-align: center;
  font-size: 50px;
  color: purple;
  padding: 5px;
  border: 3px solid purple;
  border-radius: 15px;
  background-color: white;
}
.note{
  width: 20px;
  margin: 1vh;
  align-items: center;
  float: right;
}
.Notas{
  text-align: center;
  margin-top: 10px;
  position: absolute;
}

.fixed-bottom{
  margin-top: 10px;
}
.botones{
  width: 100%;
}
